@use '../core/variables' as vars;

.hidden {
  display: none;
}

.h1Style {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.h2Style {
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.searchSection {
  display: flex;
  justify-content: center;
}

.searchArea {
  margin: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.inputContent {
  font-family: system-ui, Roboto;
  padding: 0.1rem;
  margin-block: 2rem;
  margin-left: 2rem;
  padding-right: 20rem;
  box-sizing: border-box;
}

.searchBtn {
  padding: 0.2rem;

  margin-right: 2rem;
  color: white;
  background-color: rgb(192, 134, 231);
  border: none;
  cursor: pointer;
}

.purchaseSection {
  display: flex;
  justify-content: space-evenly;
}

.popularProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  list-style-type: none;
  max-width: 55rem;
}

.productsList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  gap: 0.3em;
}

.productsList p {
  text-align: center;
}

.productsList img {
  width: 15rem;
}

.purchaseBtn {
  color: white;
  background-color: rgb(192, 134, 231);
  border: none;
  padding: 0.2rem;
  cursor: pointer;
}

.notFoundSpan {
  font-size: 3rem;
  font-weight: bold;
}