@use '../core/variables' as vars;

.header {
  padding-bottom: 2rem;
}

.shoppingBag {
  width: 3rem;
}

.sloganHeader {
  font-family: vars.$font-main;
  font-weight: bold;
  display: inline-block;
}