<main>
  <h1 class="h1Style">My online store 🛍️</h1>
  <section class="searchSection">
    <div class="searchArea">
      <input class="inputContent" type="text" placeholder="Type here your search">
      <button class="searchBtn">Find</button>
    </div>
  </section>
  <section class="purchaseSection">
    <div>
      <h2 class="h2Style">Shopping Cart🛒</h2>
    </div>
    <div class="popularProducts">
      <h2 class="h2Style">Most popular products💎</h2>
      <ul class="productsList js_productsList"></ul>
    </div>
  </section>
</main>